.ie 
	.breadcrumb 
		display none 
		
	.step 
		.finish-purchase 
			paddding 6rem 
			height 6rem
		
	.price-and-payment 
		.final-price 
			margin-top 3rem
	
	.title-rulers.hidden 
			&:before, &:after
				content none
				
	.safety 
		padding 1.1rem 0
			

.oldiewarning
	position absolute
	top 0
	left 0 
	right 0
	margin auto
	width 100% 
	height 100% 
	background-color #32363b
	overflow hidden
	z-index 1000
	display none
	
	p, a 
		width 100% 
		margin auto 
		text-align center
		position absolute
		top 500px 
		color #fff
		font-size 40px
		font-family Tahoma, Geneva, sans-serif
			

.lt-ie9 
	overflow hidden 
	
	.oldiewarning 
		display block