.help-and-support
	background #FFF url('../images/backgrounds/footer.jpg') no-repeat bottom center / cover
	
	@media $tablet-min
		padding-bottom 6rem 
		
		&:after
			clear both 
			display block
			content ''
			
	ul 
		@media $tablet-max 
			text-align center
			
	.blob
		margin 0 auto 2rem auto
	
	.title-rulers 
		hr 
			@media $smallest-desktop-minmax 
				width 20%
				
			@media $desktop-min 
				width 14.5% 
	
	.information
		@media $tablet-max 
			padding-bottom 4rem

		@media $small-desktop-min 
			width 69.5rem
			background-color #e1e1e1
			margin auto
			
.column 
	@media $small-desktop-min
		float left 
		width 50% 
		position relative
		
	ul 
		@media $small-desktop-min
			padding-left 33% 
			
		
.generic-support
	.blob 
		padding 2.7rem .9rem
		
	.help 
		@media $tablet-max 
			margin-bottom 2rem 
			
		li 
			color $blue 
			font-size $r-font
			line-height 2.6rem 
			transition(all 0.25s ease-in-out)
			
			&:hover
				text-decoration underline
				color $red 
				text-shadow 0 0 0.065rem $red, 0 0 0.065rem $red
			
.contact 
	.blob 
		padding 3.6rem 2.7rem
		
	.contact-segment 
		li 
			&:not(:last-of-type)
				margin-bottom 3.2rem
			
		span:not(.numbers)
			font-size 1.4rem
			line-height 1.8rem
			display block
				
.segment, .numbers
	font-weight bold
		
.segment 
	font-size 1.8rem 
	color $red 

.numbers
	color $blue 
	font-size $bg-font 
	
.darken 
	background-color $blue 
	
	@media $tablet-max 
		padding-top 4rem
	
	@media $small-desktop-min
		height 43rem
		width 100%
		padding 4.2rem 0 3.6rem 0
		
	.menu-item
		text-transform uppercase
		
	.center-content
	
		@media $small-desktop-min
			&:after
				clear both
				display block 
				content ''
		
		& > div:not(.copyright)
			@media $tablet-max 
				text-align center
				margin-bottom 4rem

			@media $small-desktop-min
				float left
				
			ul 
				@media $tablet-max
					text-align center
		
			li 
				font-size 1.2rem 
				color #FFF
				line-height 2.2rem 
				transition(text-shadow 0.25s ease-in-out)
				
				@media $tablet-max 
					font-size 1.6rem 
					line-height 4rem
				
				&:hover
					text-shadow 0 0 0.065rem #FFF, 0 0 0.065rem #FFF
					
				
			h2 
				font-size 1.4rem 
				font-weight bold
				
				@media $tablet-max 
					font-size 2.4rem
				
				span
					color #FFF
					font-size 1.8rem
					display block
					padding 1rem 0
					
					@media $small-desktop-min
						margin-bottom 1rem 
					
				
.category-title
	font-size 1.8rem 
	font-weight bold
	letter-spacing .1rem 
	margin-bottom 2.5rem
		
	
	@media $tablet-max 
		font-size 2.4rem 
		
.logo
	@media $small-desktop-min
		width 100% 
	    margin-top -80px 
 
.institutional
	@media $small-desktop-min
		width 14.25%
		margin-right 3%
	
	h2 
		&:first-of-type
			@media $tablet-max 
				margin-top 1.5rem
			
			@media $small-desktop-min
				margin-top 10.2rem
			

.ajuda-e-suporte
	@media $small-desktop-min
		width 14.25%
		margin-right 3%
		
.profile
	@media $small-desktop-min 
		width 11.25%
		margin-right 1%
	
.articles 
	@media $small-desktop-min
		width 11.25%
		margin-right 1%
	
.product-types 
	@media $small-desktop-min
		width 14.25%
		margin-right 2%
	
	h2 
		@media $tablet-max 
			margin 2rem auto 1rem auto

		@media $small-desktop-min
			margin 3.8rem 0 1.5rem 0 
	
.social
	@media $small-desktop-min
		width 23.21%
	
	p 
		font-size 1.4rem
		color #FFF
		line-height 1.8rem
		
		@media $tablet-max
			margin-bottom 1rem
		
		@media $small-desktop-min
			margin-bottom 1.5rem
		
	input
		@media $small-desktop-min
			float left 
			width 60%
			margin-bottom 2.5rem
			
	a 
		&:hover 
			i 
				color $red 
				transform(scale(1.1))
				
			
	i 
		font-size 3rem 
		color #FFF
		transition(all 0.25s ease-in-out)
		
		&.fa-youtube
			margin-left 2% 

		&.fa-instagram
			margin-left 2% 
			
	.red-basic 
		@media $small-desktop-min
			float left
			width 35% 
			margin-left 5%
			
	h2
		margin 4.5rem 0 3rem
	
	form 
		&:after
			clear both 
			display block
			content ''
	
.copyright 
	background-color $bluevariant
	
	@media $tablet-max 
		padding 1rem 0 
		text-align center
	
	
	@media $small-desktop-min
		min-height 4.7rem 
		border-top .3rem solid #306293
		margin-top 3rem
		
	p 
		font-size 1.3rem 
		font-weight bold
		color #FFF
		padding-top 1.5rem
		
		@media $small-desktop-min
			float left
		
		@media $smallest-desktop-minmax
			font-size 1rem
		
	img 
		padding-top .7rem
		transition(all 0.2s ease-in-out)
		
		@media $small-desktop-min
			float right
			
	a	
		
		&:hover
			img
				transform(scale(1.1))
			

.blob
	height 9rem 
	width 9rem 
	border-radius 50% 
	font-size $r-font
	background-color $blue 
	font-weight bold
	color $lightblue
	text-align center
	
	@media $small-desktop-min
		position absolute
		top 0 
		left 0  
	
 @media $tablet-max 	
	.logo
		margin-top 0px
	     
