/* 
Calculating Column Widths
Before we can begin making calculations, we need to determine the maximum amount of columns per row. A popular choice is 12 as it boasts flexibility given that it is divisible by 1, 2, 3, 4, and 6. This permits a variety of different combinations that still allow for evenly distributed columns of the same size.

It’s important to understand that by going with a maximum of 12 columns per row, you need to fulfill that amount for every row regardless of how many columns you want. For example, if you wanted only a row of 3 equal columns, you would use 3 elements that each span 4 columns (4×3=12). Exceeding the sum of 12 will result in the extra column(s) wrapping to a new line.

Now that we know the maximum number of columns, next we need to determine the width of a single (1/12) column using the following formula:

scw = (100 – (m * (mc – 1))) / mc

Where:

scw = single column width
m = margin (1.6%)
mc = maximum columns (12)
When we plug in the numbers, we get a single column width of 6.86666666667%. From here we can use this number to calculate the rest of the column widths. The formula for this is:

cw = (scw * cs) + (m * (cs – 1))

Where:

cw = column width
scw = single column width (6.86666666667%)
cs = column span (1-12)
m = margin (1.6%)
*/

.center-content
	margin auto
	position relative
	
	&.cleared:after
		clear both
		display block
		content ''
		

	@media $mobile-max 
		padding 0 3rem
		
	@media $tablet-minmax  
		padding 0 4rem
		
	@media $tablet-max 
		width 100%

	@media $small-desktop-min 
		width 120rem
		
	@media $smallest-desktop-minmax 
		padding 0 6rem
		width 100%
		

.grid-products
	&.greyed
		.product 
			background-color #f1f2f2
		
	&:after 
		@media $tablet-min 
			clear both 
			display block
			content ''
			
	&.five 	
		.product
				
			@media $tablet-minmax 
				width 30% 
				
				& + .product:not(:nth-of-type(3n+4))
					margin-left 5%
					
			@media $smallest-desktop-minmax
				width 22.5%
				
				& + .product:not(:nth-of-type(4n+5)) 
					margin-left 3.33333%
				
			@media $desktop-min
				width 17.3333% 
				
				& + .product:not(:nth-of-type(5n+6))
					margin-left 3.33333% 
					
	&.four 
		.product 
			@media $tablet-minmax
				width 30.5208% 
				
				& + .product:not(:nth-of-type(3n+4)) 
					margin-left 4.1666%
					
			@media $smallest-desktop-minmax
				width 30.5208% 
				
				& + .product:not(:nth-of-type(3n+4)) 
					margin-left 4.1666%

			@media $desktop-min
				width 21.7999%
				
				& + .product:not(:nth-of-type(4n+5))
					margin-left 4.1666% 
								
.product 
	background-color #FFF
	text-align center
	
	a:hover
		text-decoration underline
	
	@media $tablet-min 
		float left
		min-height 45rem
		margin-bottom 3.5rem
		padding 1.1rem 1.3rem 2.4rem 1.3rem
		
	@media $mobile-max
		margin-bottom 4rem 
		padding 3rem 1rem 3em
		width 21rem 
		margin 0 auto 4rem auto
		
	.overlay
		width 100% 
		height 74%
		top 0 
		background-color rgba($blue, 0.9)
		position absolute
		z-index 10
		opacity 0
		transition(opacity 0.25s ease-in-out)
		padding 1% 
		min-height 20rem
		
		a, button 
			border .2rem solid #FFF
			color #FFF 
			border-radius 50%
			height 5.5rem 
			width 5.5rem 
			position absolute
			top 35% 
			background-color transparent
			transition(all 0.4s ease-in-out)
			transition-delay 0s 
			-webkit-transition-delay 0s
			opacity 0
			
			&.product-detail-page
				left 17% 
				transform(translateX(-1rem))
				
				&:hover
					background-color #FFF 
					color rgba($blue, 0.9)
				
			&.add-cart
				right 17%
				transform(translateX(1rem))
				
				&:hover 
					background-color $green 
					
		a
			padding 1.2rem 0
			
			&.no-add 
				left 0
				right 0 
				margin auto
			

	figure 
		width 100% 
		position relative
		min-height 20rem 
		max-width 20rem
		margin 0 auto
		
		&:hover 
			.overlay 
				opacity 1
				
			.product-detail-page, .add-cart 
				opacity 1 
				transform(translateX(0))
				transition-delay 0.15s 
				-webkit-transition-delay 0.15s
		
	figcaption 
		margin-top 2rem
		overflow hidden
		height 5.4rem
			
	small 
		font-size 1.4rem 
		
	i 
		font-size 3rem 
		margin-top -.4rem
		
	[class*="-stripe"]
		position absolute
		top .2rem 
		z-index 20
			
	.generic-stripe
		font-size 1.2rem 
		height 2rem
		padding 0.4rem 0.5rem
		
		@media $tablet-max
			left -.5rem 
		
		@media $smallest-desktop-minmax
			left .1rem
			
		@media $desktop-min
			left -.6rem
			
		&:after
			right auto
			left 0
			transform(rotate(90deg))
			
		&:nth-of-type(2)
			margin-top 2.4rem
			
		&:nth-of-type(3)
			margin-top 4.8rem
			
	.discount-stripe 
		padding 0.4rem 
		height 4rem
		font-size 3.5rem
		
		@media $tablet-max 
			right .4rem
		
		@media $smallest-desktop-minmax
			right 1.1rem
		
		@media $desktop-min
			right .4rem
		
		&:after 
			border-top-color darken($red, 30%)
			
		&:before 
			top 0 
			right .5rem 
			

		
.name 
	color #002c4b
	font-size  1.8rem 
	margin-bottom 2rem 
	font-weight bold

.full-price
	color $blue 
	font-size 1.6rem  
	margin-bottom 2.2rem
	
.installments 
	display block
	
.discount-price 
	font-size 5.6rem 
	color $lightblue 
	font-weight bold
	display block
	margin-top 1.5rem
	
	.cents
		font-size 3rem
		
.discounted-difference
	font-size 1.2rem
	color $blue 
	margin-bottom 2.2rem
	
	span 
		&:not(.striked)
			font-size 1.6rem
			display block
			
		&.striked 
			text-decoration line-through
		
	
				

		
			
		
			

			
			
		
