.adapt-menu-fox
	height 120px
	
	@media $tablet-max 
		height 90px


header
	background-color $blue 
	z-index 50
	
	@media $tablet-max 
		height 9rem
		top 0 
		width 100%
	
	@media $small-desktop-min 
		height 12rem 
		padding 2.8rem 0 2.4rem 0
		border-bottom .4rem solid rgba(0, 44, 75, 0.2)
		
		&:after 
			clear both
			display block
			content ''
			
	&.is-scrolled 
		@media $tablet-max
			position fixed 
			z-index 999

		@media $small-desktop-min
			position fixed
			height 5.5rem
			padding 1rem 0
			top 0
			width 100% 
			
		.login 
			@media $small-desktop-min
				display none 
		
		.logo 
			@media $small-desktop-min
				background url('../images/common/logoscrolled.png') no-repeat center center / cover
				width 7rem 
				height 7rem 
				
		.orders-account-cart
			@media $small-desktop-min
				& > ul 
					display none
		
	.center-content
		.information-and-login
			float left
		
		.orders-account-cart
			float right
			min-width 20px


			
	.logo
		@media $tablet-max 
			width 22rem
			height 3rem
			position absolute
			top 1rem
			right 0 
			left 0 
			margin auto 
			background url('../images/common/logomobile.png') no-repeat center center / contain 
			
		
		@media $small-desktop-min
			background url('../images/common/logo.png') no-repeat center center 
			height 7.1rem
			width 23rem
			position absolute
			left 0 
			right 0 
			margin auto
	

		
.information-and-login
	@media $tablet-max 
		width 100%
		padding-top 5rem

.login 
	
	@media $tablet-max 
		display none
	
	@media $small-desktop-min
		margin-bottom 1.7rem
		
	i 
		color $red 
		font-size 1.2rem
		border .2rem solid $red 
		border-radius 50%
		padding .2rem .2rem 0 .2rem 
		
	span, a, p   
		font-size 1.4rem
		
		&:not(.red)
			color #fff
			
	.red
		font-weight bold
		color $red
		
.search 
	height 3.5rem 
	position relative
	width 100%
	
	@media $small-desktop-min
		width 24.9rem 
	
	input 
		border .1rem solid $lightblue
		background-color transparent 
		padding .5rem .5rem .5rem 1.5rem
		height 3.5rem
		width 100%
		color #FFF
			
	button 
		height 100% 
		width 4.5rem
		position absolute
		right 0 
		top 0 
		text-align center
		vertical-align middle
		background-color $lightblue
		border 0
		
		@media $tablet-max 
			width 4.1rem
		
	i 
		font-size $r-font
		color #fff
		
	.dropdown 
		height auto
		left 0


.orders-account-cart{
	position: relative;
	z-index: 999;
}

.carrinhoBox{
	right 0
	top 58px
	border 1px solid #3fa2f7
}
#sugestao,
.carrinhoBox
	width 380px
	position absolute
	display none
	z-index 30
	max-height 80vh
	overflow-x hidden
	
	@media $tablet-max
		right: -1px;
		top: 37px;
		max-width: 100%;

	@media $mobile-max
		width 100%

.is-scrolled .carrinhoBox{
	top: 33px;
}

.overall
	float: left;
	width: 100%;
	background-color: #FFF;
	padding: 15px;
	
	p 
		float left
		width 45% 
		font-size 1.2rem
		
	span 
		color $blue
		font-size inherit
		
		&:last-child
			font-weight bold
			display inline-block
			margin-top .1rem
			font-size 1.6rem
			padding-top 2px
		
	a 
		float right 
		width 18rem
		height 3.5rem 
		background-color $red 
		padding 0.8rem 1rem
		font-size $r-font 
		color #fff
		border .1rem solid transparent 
		transition(all 0.25s ease-in-out)
		
		&:hover
			background-color #FFF 
			color $red 
			border-color $red
			
	&.empty 
		span 
			display inline

#sugestao h3
	color white
	padding 10px
	border 1px solid #3fa2f7
	background-color #002c4b
	font-size 13px

#sugestao .caixa,
.carrinhoBox .caixa {
    padding 15px 15px 0 15px
    background: rgba(255,255,255,0.95);
}

#sugestao .caixa::after,
.carrinhoBox .caixa::after {
    width 100%
    height 1px
    background #00aeef
    content ''
    display block
    margin-top 20px
}

#sugestao .caixa:last-child,
.carrinhoBox .caixa:last-child {
	padding-bottom 15px
}

#sugestao .caixa:last-child::after {
	display none
}

#sugestao .caixa .titulo,
.carrinhoBox .caixa .titulo {
	color: #000;
	width: 40%;
	height: 100%;
	text-align: left;
	margin: 0 5%;
	vertical-align: middle;
	font-size: 1.4rem;
	line-height: 18px;
}

#sugestao .caixa .imagem,
.carrinhoBox .caixa .imagem {
	width: 80px;
	vertical-align: middle;
	box-sizing: border-box;
}

#sugestao .caixa .preco,
.carrinhoBox .caixa .preco {
    color #00aeef
    font-weight bold
    font-size 20px
    vertical-align middle
}

#resultSugestao{
	border: 1px solid #3fa2f7;
}

@media screen and (max-width: 599px) {
	#sugestao .caixa .preco,
	.carrinhoBox .caixa .preco {
	    padding: 10px 5% 0 5%
	    width: 100%
	    line-height: 18px
	    text-align: right
	}

	#sugestao .caixa .titulo,
	.carrinhoBox .caixa .titulo {
		margin: 0 5%
		width: 69%
		line-height: 18px
		text-align: center
	}

	#sugestao .caixa .imagem,
	.carrinhoBox .caixa .imagem {
		width: 20%;
	}
}

@media screen and (max-width: 360px) {
	header .logo{
		background-size: 80%;
	}
}
	
.orders-account-cart 
	& > ul 
		@media $tablet-max 
			display none
			
		@media $small-desktop-min
			margin-bottom 1.3rem 
			
		&:after
			@media $small-desktop-min
				clear both
				display block
				content ''
			
		li 
			color #fff 
			font-size 1.4rem 
			
			@media $smallest-desktop-minmax 
				font-size 1.2rem
			
			@media $small-desktop-min
				float left 
				
			&:last-child
				@media $smallest-desktop-minmax
					margin-top -.2rem
					
				@media $small-desktop-min
					i 
						font-size 1.4rem
						
					a + a 
						margin-left .6rem
				
			a 
				color inherit
				font-size inherit 
				transition(color 0.25s ease-in-out)
				
				&:hover
					color $red 
					
				
			i 
				color $red 
				font-size 1.2rem
				transition(color 0.25s ease-in-out)
				
				&:hover
					color #FFF 
					
			
	& > .customer-support, & > .cart
		@media $small-desktop-min
			float right
			height 3.3rem
			border .1rem solid $lightblue
			color white 
			font-size 1.2rem
			
.customer-support
	@media $tablet-max 
		display none
	

.lines
	width 1.5rem
	height 1rem 
	display inline-block
	vertical-align baseline
	
	span 
		background-color $red
		height .1rem
		margin-bottom .2rem 
		display block
		
		&:first-child
			width 100%
			
		&:nth-child(2)
			width 50%
			
		&:nth-child(3)
			width 90% 
			
		&:last-child 
			width 70%
		
		
.customer-support
	@media $small-desktop-min
		padding .5rem 3rem 
		transition(background-color 0.25s ease-in-out)
		position relative
		
		&:hover, &:focus
			.contact-widget 
				opacity 1
				visibility visible
				
	p 
		@media $small-desktop-min
			padding-top .4rem
			float left 
			
	i 
		@media $small-desktop-min
			float right 
			font-size 2rem
			color #FFF
			margin-left .5rem 
			margin -.1rem 0 0 .5rem 
			
	p, i 
		transition(all 0.25s ease-in-out)

		
.cart 
	overflow visible 
	cursor pointer
	
	i 
		float left 
		margin-top -.3rem 
		font-size 2.5rem 	
		
	@media $tablet-max 
		right 0rem
		height 3.8rem
		width 4.1rem 
		position absolute
		top -7.9rem 
		background-color $cartburgerbg
		color #FFF
		border .1rem solid $lightblue
		padding-left .7rem 
		padding-top .7rem
		 
	@media $small-desktop-min
		margin-left 2rem
		background-color transparent 
		width 7.8rem 
		padding .6rem 1rem
	
	&:hover, &:focus		
		.dropdown
			opacity 1 
			visibility visible

	small 
		font-size 1.2rem 
		padding .4rem .6rem
		border-radius 50%
		background-color #136aaa
		margin-top -1px 
		float right
		
		@media $tablet-max
			display none
			
	&.is-open
			
		@media $tablet-max
			width 100%
			transition 0.3s all

.white-box	
	background-color rgba(255,255,255 0.95)
	opacity 0 
	border .1rem solid $lightblue
	z-index 50
	visibility hidden
	position absolute
	transition(all 0.25s ease-in-out)
	
	li 
		&:not(:last-child)
			border-bottom .1rem solid $lightblue
			
.contact-widget 
	width 23.8rem
	top 3rem
	left -.1rem 
	text-align center
	
	li 
		padding 2.3rem 1.2rem 2rem 1.2rem
		
		&:nth-of-type(3)
			h2 
				font-size 1.6rem
				
		&:last-child
			border-top .1rem solid $lightblue 
	
	h1 
		font-size 2.2rem 
		color $blue 
		margin-bottom 1.4rem 
		
	h2 
		color $red 
		font-size 2.8rem
		font-weight bold 
		
	small, p, span 
		color $blue 
		
	small
		font-size 1.2rem
		
	p 
		font-size 1.3rem 
		margin-bottom .8rem
		
	input 
		height 2.8rem 
		border .1rem solid $lightblue
		width 100% 
		
	.red-basic 
		width 11rem
		margin 1.4rem auto 0 auto
		display block
		
	span
		font-size 1.8rem
		
		a 
			font-weight bold
			font-size inherit
			text-decoration underline
			transition(color 0.25s ease-in-out)
			color $blue
			display block
			
			&:hover 
				color $red 

.dropdown 
	top 3.2rem 
	right -.1rem
	width 36.8rem 
	padding 1.5rem
	
	li 
		height 12.5rem 
		width 100%
	
	& > a 
		display block		
			
	.picture 
		float left
		width 7.9rem
		height 8.7rem 
		margin-top 1.7rem
		
	a > span
		
		&:not(.price)
			float left
			margin-left 2.7rem 
			font-size 1.4rem 
			margin-top 4.2rem
			margin 4.2rem 0 0 2.7rem
			color $blue
			
		&.price
			float right 
			font-size 2rem 
			color $lightblue
			font-weight bold
			padding-top 4.4rem
			
	
			
		
		

		

		
			
			
		
		