aside.categories 
	&:after
		clear both
		content ''
		display block
		
	@media $tablet-max 
		position fixed
		left 0
		top -10px
		width 100%
		background-color white
		z-index 9999999999
		padding 5% !important
		height 100vh
		overflow-x hidden
		display none 
		
	@media $tablet-minmax 
		padding 2rem 0
		margin-bottom 3rem
		
	@media $small-desktop-min
		float left 
		width 17%
		
	h1 
		font-weight bold
		color $blue 
		padding-bottom 1.449rem
		border-bottom .3rem solid $lightblue
		font-size 1.8rem
		
		@media $mobile-max 
			margin auto 
		
		@media $tablet-max 
			width 90%
			
		@media $tablet-minmax 
			min-height 6rem
			
		
	ul 
		padding 2.5rem 0
		
	.load-categories
		width 50% 
		
		@media $small-desktop-min
			margin-bottom 1.3rem
			
	li 
		@media $mobile-max 
			margin auto 
			
		@media $tablet-max
			width 90%
			
		@media $tablet-max
			padding .5rem 0
		
		&:not(:last-of-type)
			border-bottom .1rem solid $lightblue 
		
					
	label 
		display block 
		padding .6rem 0
		cursor pointer  
		
		@media $tablet-max 
			white-space nowrap 
			overflow hidden 
			text-overflow ellipsis
		
		span 
			font-size 1.4rem
			color #262626
			margin-left 1.1rem
			
		input
			height 1.1rem 
			width 1.1rem 
			background-color #FFF 
			border .1rem solid #7f7f7f
		

.filter
	@media $tablet-minmax 
		float left 
		width 25% 
		height 60rem 
		overflow scroll
		

.account-widget
	padding 2.3rem 2.1rem
	width 22.919% 
	float left
	
	@media $tablet-max 
		margin-bottom 4rem
		padding 1.3rem
		width 23%
		
	@media $mobile-max
		width 100%
		display block
		float none
		margin 30px auto

	.account-navigation 
		li
			border-bottom .1rem solid $lightblue
			
			&:last-child{
				border-bottom 0
			}
			
			@media $tablet-max 
				line-height 3.2rem

			@media $small-desktop-min
				line-height 2.2rem 

.category-select {
	display: none;
}
label {
	cursor: pointer;
}
.category-select + label:before {
	border: 1px solid #7f83a2;
	content: "\00a0";
	display: inline-block;
	font: 16px/1em sans-serif;
	height: 16px;
	margin: 0 0.65em 0 0;
	padding: 0;
	vertical-align: top;
	width: 16px;
}
.category-select:checked + label:before {
	color: #666;
	content: "\2713";
	text-align: center;
}
.category-select:checked + label:after {
	font-weight: bold;
}

.close-sidebar {
    text-align: center;
    font-size: 20px;
    font-family: Asap, sans-serif;
    margin-top: 30px;
    padding: 5px;
    border: 1px solid #136aaa;
    color: #136aaa;
    width: 30px;
    margin-left: auto;
    cursor: pointer;
    display: none;
    transition 0.5s all
}

.close-sidebar:hover {
    background-color: #002c4b;
    color: white;
    border: 1px solid transparent;
}

.open-sidebar {
    position: fixed;
    left: 5%;
    bottom: -7px;
    background-color: #002c4b;
    color: #fff;
    padding: 17px 10px;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 99999999;
    font-family: Asap;
    border-radius: 6px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: none;
}
.open-sidebar i {
    padding-right: 10px;
}
@media $tablet-max
	.close-sidebar
		display block
		
	.open-sidebar
		display block

.aside-loader
	padding-top 5rem
	width 17%
	float left
	text-align center

	@media $tablet-max
		float none
		width 100%
	

#secondary{
	float: left;
	width: 17%;
	margin-top: 30px;
}
#secondary .product-categories > .cat-item,
#secondary .widget-title {
    display: none;
}
#secondary ul {
    padding: 1rem 0 2.5rem 0px;
}
#secondary  .product-categories > .cat-item.cat-parent {
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 2px;
}
#secondary  .children {
    display: block;
    color: black;
    text-align: left;
    float: left;
    background-color: #f4f7f9;
    width: 100%;
    padding: 0;
    text-transform: uppercase;
}
#secondary .children li {
    border: 0 !important;
    font-size: 1.3rem;
    margin-bottom: 5px;
    padding-left: 10px;
}
#secondary .children li a {
    padding: 8px 5px;
    display: block;
}

#secondary .children li:hover {
	background: #dbdbdb;
}

#secondary .cat-parent.menu-selected > a {
    background-color: #002c4b;
	border: 1px solid transparent;
	color: white;
    text-align: center;
}

#secondary .cat-parent > a {
    background-color: #FFF;
    border: 1px solid #002c4b;
    color: #002c4b;
    text-align: center;
    font-size: 1.6rem;
    padding: 10px 0;
    width: 100%;
    display: block;
    float: left;
    text-transform: uppercase;
}
#secondary .cat-parent .children {
    display: none;
}
