<main>
	<section class="purchases">	
		<div class="center-content">	
			<div class="safe">
				<h1 class="lined bigger">CARRINHO</h1>
				<img src="" alt="">
				<img src="" alt="">
			</div>
			<div class="cart-details padded">
				<div class="entries">
					<div class="entry shaded-box">
						<div class="picture"><img src="https://placeholdit.imgix.net/~text?txtsize=12&txt=126%C3%97139&w=126&h=139" alt=""></div>
						<div class="product-info">
							<h1>
								<a href="">
									Whey Gold Whey
									Gold Whey Gold Whey
								</a>
							</h1>
							<h2 class="brand">Optimum Nutrition</h2>
							<button class="remove">✕</button>
						</div>
						<div class="price-quantity">
							<p>R$ <span>450,00</span>/un</p>	
							<button type="button" class="less numeral">-</button>
							<input type="number" name="quantity" value="01">
							<button type="button" class="plus numeral">+</button>
						</div>
					</div>
					<div class="entry shaded-box">
						<div class="picture"><img src="https://placeholdit.imgix.net/~text?txtsize=12&txt=126%C3%97139&w=126&h=139" alt=""></div>
						<div class="product-info">
							<h1>
								<a href="">
									Whey Gold Whey
									Gold Whey Gold Whey
								</a>
							</h1>
							<h2 class="brand">Optimum Nutrition</h2>
							<button class="remove">✕</button>
						</div>
						<div class="price-quantity">
							<p>R$ <span>450,00</span>/un</p>
							<button class="less numeral">-</button>
							<input type="number" name="quantity" value="01">
							<button class="plus numeral">+</button>
						</div>
					</div>
				</div>
				<div class="purchase-details">
					<div class="shaded-box order">
						<p class="order-details">DETALHES DO PEDIDO</p>
						<p class="order-price">Total<span>R$ 719,60</span></p>
						<p class="order-installments">em <b>6x</b> de <b>R$ 119,93</b> S/ juros OU à vista com <b class="order-discount red">20% OFF</b></p>
						<p class="order-discount-price">por <strong>R$ 575,68</strong></p>
					</div>
					<div class="input-box freight shaded-box lesser">
						<span>CALCULE O FRETE</span>
						<small class="zip-code-help"><span>?</span>Não sei<br> meu CEP</small>
						<form action="">
							<input type="number" name="zip-code">
							<button>OK</button>
						</form>
					</div>
					<div class="input-box coupon shaded-box lesser">
						<span>POSSUI CUPOM DE DESCONTO?</span>
						<form action="">
							<input type="number" name="coupon-number">
							<button>OK</button>
						</form>
					</div>
					<button class="finish-purchase shaded-box">FINALIZAR COMPRA</button>
					<button class="keep-purchasing shaded-box"><i class="fa fa-angle-double-left" aria-hidden="true"></i> CONTINUAR COMPRANDO</button>
				</div>
			</div>
		</div>
	</section>
	<section class="gifts">
		<div class="center-content">
			<h1 class="lined">ESCOLHA SEU BRINDE<i class="fa fa-gift red" aria-hidden="true"></i></h1>
			<div class="padded giftbox">
				<button class="tab is-active" data-tab="0">VOCÊ GANHOU!</button>
				<button class="tab" data-tab="200">Por mais R$ 200,00</button>
				<button class="tab" data-tab="400">Por mais R$ 400,00</button>
				<div class="shaded-box">
					<div class="inner" data-tab="0">
						<div class="gift">
							<img src="https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97182&w=200&h=182" alt="">
							<h2 class="name">Whey Gold Optimum Nutrition</h2>
							<select name="bonus">
								<option disabled="" selected="">--Selecione--</option>
							</select>
							<button>QUERO ESTE</button>
						</div>
						<div class="gift">
							<img src="https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97182&w=200&h=182" alt="">
							<h2 class="name">Whey Gold Optimum Nutrition</h2>
							<select name="bonus">
								<option disabled="" selected="">--Selecione--</option>
							</select>
							<button>QUERO ESTE</button>
						</div>
						<div class="gift">
							<img src="https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97182&w=200&h=182" alt="">
							<h2 class="name">Whey Gold Optimum Nutrition</h2>
							<select name="bonus">
								<option disabled selected>--Selecione--</option>
							</select>
							<button>QUERO ESTE</button>
						</div>
						<div class="gift">
							<img src="https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97182&w=200&h=182" alt="">
							<h2 class="name">Whey Gold Optimum Nutrition</h2>
							<select name="bonus">
								<option disabled="" selected="">--Selecione--</option>
							</select>
							<button>QUERO ESTE</button>
						</div>
						<div class="gift">
							<img src="https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97182&w=200&h=182" alt="">
							<h2 class="name">Whey Gold Optimum Nutrition</h2>
							<select name="bonus">
								<option disabled="" selected="">--Selecione--</option>
							</select>
							<button>QUERO ESTE</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>