<section class="highlights">
	<div class="full-bg">
		<div class="slide"></div>
		<div class="slide"></div>
		<div class="slide"></div>
		<div class="slide"></div>
	</div>
	<div class="center-content">	
		<div class="forepart">
			<div>
				<span>10% de DESCONTO</span>
				<i class="fa fa-tag" aria-hidden="true"></i>
				<span>Para compras à vista.</span>
			</div>
			<div>
				<span>FRETE GRÁTIS</span>
				<i class="fa fa-truck" aria-hidden="true"></i>
				<span>Para compras acima de R$ 149,00.</span>
			</div>
			<div>
				<span>TEM UMA DÚVIDA NUTRICIONAL?</span>
				<i class="fa fa-comments" aria-hidden="true"></i>
				<span>Fale com nossa nutricionista <a class="red" href="<?php echo get_bloginfo('url'); ?>/fale-conosco">aqui.</a></span>
			</div>
		</div>
		<div class="section-picker">
			<div class="option active" data-picker="objectives">
				<div class="heading">
					<button class="submenu-picker" data-picker="objectives" data-url="/teste">	
						<h1>OBJETIVOS</h1>
					</button>
				</div>
				<ul class="option-submenu objectives">
					<li class="overview blue">
						<div class="background-form" aria-hidden="true"></div>
						<div class="highlight muscle"></div>
						<span class="subtitle">
							<h2>GANHAR MASSA MUSCULAR</h2>
						</span>
					</li>
					<li class="overview red">
						<div class="background-form" aria-hidden="true"></div>
						<div class="highlight thinning"></div>
						<span class="subtitle">
							<h2>EMAGRECIMENTO & DEFINIÇÃO</h2>
						</span>
					</li>
					<li class="overview yellow">
						<div class="background-form" aria-hidden="true"></div>
						<div class="highlight energy"></div>
						<span class="subtitle">
							<h2>MAIS ENERGIA E RESISTÊNCIA</h2>
						</span>
					</li>
					<li class="overview green">
						<div class="background-form" aria-hidden="true"></div>
						<div class="highlight health"></div>
						<span class="subtitle">
							<h2>SAÚDE E BEM-ESTAR</h2>
						</span>
					</li>
				</ul>
			</div>
			<div class="option" data-picker="categories" ng-controller="CategoryController">
				<div class="heading">
					<button class="submenu-picker" data-picker="categories">	
						<h1>CATEGORIAS</h1>
					</button>
				</div>
				<ul class="option-submenu categories five">
					<li ng-repeat="category in categories">
						<ul>
							<li><h2>{{category.name}}</h2></li>
							<li ng-repeat="subcategory in category.subcategory"><a href="">{{subcategory.name}}</a></li>
							<li><a href="">VER MAIS</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="option" data-picker="brands">
				<div class="heading">
					<button class="submenu-picker" data-picker="brands">	
						<h1>MARCAS</h1>
					</button>
				</div>
				<ul class="option-submenu brands five">
					<li>
						<ul>
							<li>
								<a href="">
									<img src="images/brands/probiotica.png" alt="">
								</a>
							</li>
							<li>
								<a href="">
									<img src="images/brands/integralmedica.png" alt="">
								</a>
							</li>
							<li>
								<a href="">
									<img src="images/brands/.png" alt="">
								</a>
							</li>
						</ul>
					</li>
					<li>
						<ul>
							<li>
								<a href="">
									<img src="images/brands/.png" alt="">
								</a>
							</li>
							<li>
								<a href="">
									<img src="images/brands/.png" alt="">
								</a>
							</li>
							<li>
								<a href="">
									<img src="images/brands/.png" alt="">
								</a>
							</li>
						</ul>
					</li>
					<li>
						<ul>
							<li>
								<a href="">
									<img src="images/brands/.png" alt="">
								</a>
							</li>
							<li>
								<a href="">
									<img src="images/brands/.png" alt="">
								</a>
							</li>
							<li>
								<a href="">
									<img src="images/brands/.png" alt="">
								</a>
							</li>
						</ul>
					</li>
					<li>
						<ul>
							<li>
								<a href="">
									<img src="images/brands/.png" alt="">
								</a>
							</li>
							<li>
								<a href="">
									<img src="images/brands/.png" alt="">
								</a>
							</li>
							<li>
								<a href="">
									<img src="images/brands/.png" alt="">
								</a>
							</li>
						</ul>
					</li>
					<li>
						<ul>
							<li>
								<a href="">
									<img src="images/brands/.png" alt="">
								</a>
							</li>
							<li>
								<a href="">
									<img src="images/brands/.png" alt="">
								</a>
							</li>
							<li>
								<a href="">
									<img src="images/brands/.png" alt="">
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="option" data-picker="sales">
				<div class="heading">
					<button class="submenu-picker" data-picker="sales">	
						<h1>KITS PROMOCIONAIS</h1>
					</button>
				</div>
				<div class="option-submenu sales">
					<section class="grid-products greyed five">
						<div class="product">
							<figure>
								<img src="https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97182&w=200&h=182" alt="">
								<figcaption class="name">
									Whey Gold Optimum Nutrition
								</figcaption>
								<i class="fa fa-search" aria-hidden="true"></i>
								<i class="fa fa-shopping-cart" aria-hidden="true"></i>
							</figure>
							<p class="full-price">R$ 280,00<span class="installments">em até 6x de R$ 46,67</span></p>
							<p class="discount-price">
								450,<span class="cents">00</span>
							</p>
							<small>no boleto ou depósito</small>
						</div>
						<div class="product">
							<figure>
								<img src="https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97182&w=200&h=182" alt="">
								<figcaption class="name">
									Whey Gold Optimum Nutrition
								</figcaption>
								<i class="fa fa-search" aria-hidden="true"></i>
								<i class="fa fa-shopping-cart" aria-hidden="true"></i>
							</figure>
							<p class="full-price">R$ 280,00<span class="installments">em até 6x de R$ 46,67</span></p>
							<p class="discount-price">
								450,<span class="cents">00</span>
							</p>
							<small>no boleto ou depósito</small>
						</div>
						<div class="product">
							<figure>
								<img src="https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97182&w=200&h=182" alt="">
								<figcaption class="name">
									Whey Gold Optimum Nutrition
								</figcaption>
								<i class="fa fa-search" aria-hidden="true"></i>
								<i class="fa fa-shopping-cart" aria-hidden="true"></i>
							</figure>
							<p class="full-price">R$ 280,00<span class="installments">em até 6x de R$ 46,67</span></p>
							<p class="discount-price">
								450,<span class="cents">00</span>
							</p>
							<small>no boleto ou depósito</small>
						</div>
						<div class="product">
							<figure>
								<img src="https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97182&w=200&h=182" alt="">
								<figcaption class="name">
									Whey Gold Optimum Nutrition
								</figcaption>
								<i class="fa fa-search" aria-hidden="true"></i>
								<i class="fa fa-shopping-cart" aria-hidden="true"></i>
							</figure>
							<p class="full-price">R$ 280,00<span class="installments">em até 6x de R$ 46,67</span></p>
							<p class="discount-price">
								450,<span class="cents">00</span>
							</p>
							<small>no boleto ou depósito</small>
						</div>
						<div class="product">
							<figure>
								<img src="https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97182&w=200&h=182" alt="">
								<figcaption class="name">
									Whey Gold Optimum Nutrition
								</figcaption>
								<i class="fa fa-search" aria-hidden="true"></i>
								<i class="fa fa-shopping-cart" aria-hidden="true"></i>
							</figure>
							<p class="full-price">R$ 280,00<span class="installments">em até 6x de R$ 46,67</span></p>
							<p class="discount-price">
								450,<span class="cents">00</span>
							</p>
							<small>no boleto ou depósito</small>
						</div>
						<div class="product">
							<figure>
								<img src="https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97182&w=200&h=182" alt="">
								<figcaption class="name">
									Whey Gold Optimum Nutrition
								</figcaption>
								<i class="fa fa-search" aria-hidden="true"></i>
								<i class="fa fa-shopping-cart" aria-hidden="true"></i>
							</figure>
							<p class="full-price">R$ 280,00<span class="installments">em até 6x de R$ 46,67</span></p>
							<p class="discount-price">
								450,<span class="cents">00</span>
							</p>
							<small>no boleto ou depósito</small>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="division">
	<div class="center-content">
		<div class="texty">	
			<h1>NEWSLETTER</h1>
			<h2>Novidades, Artigos, Dicas e Ofertas Exclusivas, cadastre-se.</h2>
		</div>	
		<form action="" class="newsletter">
			<input type="email" placeholder="Digite seu E-mail" class="newsletter-mail" name="newsletterMail">
			<button class="red-basic">ENVIAR</button>
		</form>
	</div>
</div>
<section class="top-sellers" ng-controller="ProductController">
	<div class="center-content">
		<div class="starred">	
			<i class="fa fa-star" aria-hidden="true"></i>
			<i class="fa fa-star huge" aria-hidden="true"></i>
			<i class="fa fa-star" aria-hidden="true"></i>
		</div>
		<h1 class="title-rulers">MAIS VENDIDOS</h1>
		<div class="grid-products five">
			<div class="product" ng-repeat="product in products">
				<figure>
					<img src="https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97182&w=200&h=182" alt="">
					<figcaption class="name">
						{{ product.name }}
					</figcaption>
					<i class="fa fa-search" aria-hidden="true"></i>
					<i class="fa fa-shopping-cart" aria-hidden="true"></i>
				</figure>
				<p class="full-price">R$ 280,00<span class="installments">em até 6x de R$ 46,67</span></p>
				<p class="discount-price">
					450,<span class="cents">00</span>
				</p>
				<small>no boleto ou depósito</small>
			</div>
		</div>
		<button class="see-more" ng-click="showMore()">VER MAIS</button>
	</div>
</section>
<div class="division">
	<div class="center-content">	
		<h1>NUTRACORPORE TV</h1>
		<a href="https://www.youtube.com/user/nutracorpore" target="_blank">	
			<div class="youtube"></div>
		</a>
		<h2>Inscreva-se e acesse nosso conteúdo exclusivo em HD.</h2>
	</div>
</div>
<section class="offers">
	<div class="center-content">	
		<h1 class="title-rulers">OFERTAS</h1>	
		<div class="grid-products greyed five">
			<div class="product" ng-repeat="product in promotionalProducts">
				<figure>
					<img src="https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97182&w=200&h=182" alt="">
					<figcaption class="name">
						{{product.name}}
					</figcaption>
					<i class="fa fa-search" aria-hidden="true"></i>
					<i class="fa fa-shopping-cart" aria-hidden="true"></i>
				</figure>
				<p class="full-price">R$ 280,00<span class="installments">em até 6x de R$ 46,67</span></p>
				<p class="discount-price">
					450,<span class="cents">00</span>
				</p>
				<small>no boleto ou depósito</small>
			</div>
		</div><!--ENDGRID -->
	</div><!--ENDCENTER -->
</section>
<section class="blog">
	<div class="center-content">
		<h1 class="title-rulers hidden">
			<span class="mobile-only">CONTEÚDO EXCLUSIVO</span>	
			<img src="images/common/exclusive.jpg" alt="Conteúdo Exclusivo: Vídeos, Ensaios, Receitas, Artigos sobre suplementação, Musculação, saúde e muito mais" class="exclusive">
		</h1>	
		<ul class="topics">
			<li><a href="">MATÉRIAS</a></li>
			<li><a href="">VÍDEOS</a></li>
			<li><a href="">ENSAIOS</a></li>
			<li><a href="">RECEITAS</a></li>
			<li><a href="">EVENTOS</a></li>
			<li><a href="">ATLETAS</a></li>
		</ul>
		<div class="feed">
			<p>
				<strong>
					PUBLICAÇÃO 1:
				</strong>
				commodi id nemo ducimus! Ad ea assumenda, id qui dignissimos quia iste soluta. Architecto cum quam ex, aliquid placeat.
				<a href="" class="red">
					Leia Mais
				</a>
			</p>
			<p>
				<strong>
					PUBLICAÇÃO 2:
				</strong>
				commodi id nemo ducimus! Ad ea assumenda, id qui dignissimos quia iste soluta. Architecto cum quam ex, aliquid placeat.
				<a href="" class="red">
					Leia Mais
				</a>
			</p>
		</div>
	</div>
</section>