.generic-institutional
	padding-bottom 6.5rem 
	 
	.shaded-box 
		padding 4.8rem 2rem 
		
	p 
		line-height 2rem 
		margin-bottom 2.5rem
		font-size 1.4rem 
		color #6d6e71
		
		
.headlight 
	border .1rem solid $lightblue 
	margin-bottom 4.5rem 
	
	@media $mobile-max 
		display none
		
.full-lined 
	padding-bottom 1rem 
	margin-bottom 2.5rem
	border-bottom .3rem solid $lightblue
	font-size 2rem 
	font-weight bold
	
// BLOG
	
.generic-post
	padding-bottom 6rem

	.border
		width 15.6rem 
		height .3rem 
		border-color $lightblue
		margin 1rem 0 1rem 0
		
	.post 
		margin 4rem auto
		padding 2.6rem 2.7rem
		
		h1
			font-size 2.6rem 
			font-weight bold

		p 
			color #6d6e71
			font-size 1.4rem 
			line-height 2.2rem 
			margin-bottom 2.8rem
	
.post-date
	color #6d6e71
	opacity 0.5 
	font-size 1.6rem 
	margin-bottom 1.8rem
	display block
	
	i 
		margin-right .7rem
	
.post-category 
	color $blue
	font-size 1.2rem
	margin-bottom 2.6rem
	
.post-image
	border .1rem solid $lightblue 
	margin-bottom 3.8rem
	display block
	margin-left auto
	margin-right auto

.social-contact 
	margin-bottom 3.2rem 
	height 5.5rem
	padding 1rem 2rem 
	
	@media $mobile-max
		text-align center
		padding 2rem 0
	
	@media $tablet-max
		height auto
		padding 2rem

	&:after
		clear both 
		display block 
		content ''
		
	p:first-of-type
		font-size 2rem
		color $red
		display inline-block
		
		@media $tablet-min 
			padding-top .7rem
			
.see-category 
	font-size 1.6rem
	float right 
	
	@media $tablet-max
		float none
		display block
		margin-top 10px
	
	a 
		color $blue
		font-weight bold
		padding-left 5px
		
		&:hover
			text-decoration underline
	
.social-square
	font-size 24px
	text-align center
	padding 3px 0
	display inline-block
	
.social-square
	height 3.2rem 
	width 3.2rem 
	color #FFF 
	transition(all 0.3s ease-in-out)
	border .1rem solid transparent
	
	@media $mobile-max 
		vertical-align top
		margin 2rem auto
	
	@media $tablet-min
		margin-left .8rem
		vertical-align top
		
	&.facebook, &.twitter, &.google, &.pinterest, &.mail
		&:hover
			background-color #FFF 
	
	&.facebook 
		background-color #3b5998
		
		&:hover
			color #3b5998
			border-color #3b5998
		
	&.twitter
		background-color #1da1f2
		
		&:hover
			color #1da1f2
			border-color #1da1f2
		
	&.google
		background-color #dc4e41
		font-size 18px
		padding-top 5px
		
		&:hover
			color #dc4e41
			border-color #dc4e41
		
	&.pinterest
		background-color #cb2027
		
		&:hover
			color #cb2027
			border-color #cb2027
		
	&.mail
		background-color #848484
		
		&:hover
			color #848484
			border-color #848484
			
.post-category-list 
	.post-preview
		@media $tablet-min
			margin-bottom 5.5rem
			min-height 24rem
			
.post-preview
	@media $mobile-max
		margin-bottom 3rem
		
.post-categories 
	@media $tablet-max 
		margin-top 3rem

.post-preview 
	@media $mobile-max
		text-align center 
		
	@media $tablet-min
		float left 
		width 22% 
		
		& + .post-preview:not(:nth-of-type(4n+5))
			margin-left 3%
			
	
	&:not(:last-of-type)
		@media $mobile-max
			padding-bottom 3rem
			border-bottom .3rem solid $lightblue
				
	h2
		color $red 
		font-size 1.6rem 
		font-weight bold 
			
	.average 
		margin-bottom .5rem
		display block
		
		
.comments
	color $blue
	font-size 1.8rem 
	margin-bottom 3rem
	padding-bottom 1.4rem 
	border-bottom .1rem solid #cccccc
	text-align left
	font-weight bold
	
.thumbnail-container 
	margin-bottom 2rem
	border .1rem solid $lightblue
	background-color #ccd5db
	
	@media $mobile-max
		height auto
	
.post-thumbnail 
	height auto
	width 100%
	
.text-preview 
	@media $tablet-min
		padding-left 1rem	
		border-left .3rem solid $lightblue

.comment-snippet
	text-align center
	margin-bottom 4rem