.purchases
	padding 5rem 0 4rem 0
			

.cart-details
	.entries, .purchase-details 
		@media $tablet-min 
			float left 
		
	.entries 
		@media $tablet-min 
			width 62.5%

		
.entry 
	margin-bottom 1.7rem 
	height 15.4rem
	position relative 
	
	@media $mobile-max 
		padding .4rem 2rem
		height auto
		
	@media $tablet-min
		padding .4rem 
		
	
	&:after
		clear both 
		display block
		content ''
	
	.picture 
		float left 
		width 22.0338% 
		border .1rem solid rgba(217, 236, 253, .5)
		height 14.3rem 
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		align-items center
		
		@media $mobile-max 
			display none
	
	.product-info 
		float left 
		padding 2.9rem 0 2rem 0
		
		@media $mobile-max 
			width 45% 
			
		@media $tablet-min
			width 33.898%
			margin-left 3.389%
		

		
	h1 
		color $blue
		font-weight bold 
		
		@media $mobile-max 
			margin-bottom 4rem
		
		@media $tablet-max 
			font-size 1.4rem 
			
		@media $tablet-min 
			margin-bottom 1rem
			
		@media $small-desktop-min
			font-size 2rem 
		
	.brand
		color $lightblue
		font-size 1.4rem
		overflow hidden
		text-overflow ellipsis
		white-space nowrap
		
	.price-quantity 
		float left
		padding 2.5rem 0 2rem 0
		
		@media $mobile-max
			width 45% 
			margin-left 10% 
			text-align right
			
		@media $tablet-min
			width 33.271% 
			margin-left 5.576%
			
		p 
			color #6d6e71
			margin-bottom 3.8rem
			
			@media $tablet-max 
				font-size 1.6rem 
				
			@media $small-desktop-min
				font-size 3rem 
			
			span 
				color $lightblue
				font-weight bold
		
		button, input 
			float left 
			height 3.3rem
		
		.numeral 
			padding-bottom .6rem
			transition 0.3s all
			
			&:hover
				background-color #e2e2e2
			
			@media $mobile-max 
				width 29.922%
				
			@media $tablet-min 
				width 23.922% 
			
		input
			width 38.961%
			padding 0 8%
			border 0
			border-top .1rem solid #bcbec0
			border-bottom .1rem solid #bcbec0
		
			@media $mobile-max
				.price-quantity input
					font-size 1.6rem
	.remove 
		position absolute
		top 1rem 
		right 1rem 

.price-quantity input {
	text-align: center;
	background-color: #FFF;
	color: #6d6e71;
	font-size: 2rem;
	font-family: Asap;
}


		
.purchase-details 
	@media $tablet-min 
		width 31.25% 
		margin-left 6.25%
		
	.shaded-box 
		margin-bottom 1.5rem
		
	.finish-purchase
		border 0
		padding 3rem 1rem
		text-align center
		
	.keep-purchasing
		border 0.5rem solid #bcbec0
		padding .3rem 0 
		text-align center
		color #a7a9ac
		transition 0.3s all
		
		&:hover
			background-color #bcbec0
			color #fff
			
		@media $tablet-max
			padding 0.6rem 0
		    font-size: 1rem;
			
	.freight-information
		table-layout fixed 
		overflow hidden
		text-overflow ellipsis 
		white-space nowrap
		margin-top -1.5rem
		border-top 0 !important
		 
		
.order 
	min-height 19.8rem 
	padding 2.7rem 
	
	@media $tablet-max 
		padding 2rem 1rem

	@media $mobile-max 
		margin-bottom 4rem

	p 
		line-height 2rem
		color #6d6e71
		margin-bottom .4rem
		
		@media $tablet-max 
			font-size 1.2rem 
			
		@media $small-desktop-min
			font-size 1.8rem

	.order-details
		color $blue 
		font-weight bold 
		margin-bottom 1.5rem 
		
		@media $mobile-max
			font-size 2.4rem
		
		@media $tablet-minmax 
			font-size 1.3rem
			
		@media $small-desktop-min
			font-size 2.4rem
		
	.order-price
		float left 
		width 100% 
		margin-bottom 2.6rem 
		
		span 
			font-weight bold 
			float right
			display inline-block
			vertical-align top
			
	.order-installments 
		clear both
		
	.order-discount-price
		font-size 2.8rem
		
		@media $tablet-max
			font-size 1.6rem
		
		strong 
			color $green
			

.lesser 
	height 8.7rem
	padding-top 1.8rem
	position relative 
	
	@media $tablet-max
		padding-top 1.5rem
	
	&:after
		clear both 
		display block
		content ''
		
	form 
		position absolute
		bottom 0
		width 100%
	
	span  
		font-weight bold 
		color $blue
		
		@media $mobile-max
			font-size 1.6rem
			
		@media $tablet-min 
			padding-left 10%
			font-size 1.4rem
			
		@media $tablet-max
			padding 0 10px
			font-size 1.3rem
			display block
			
		@media $small-desktop-min
			font-size 1.6rem
		
	.zip-code-help
		color $lightblue
		font-size 1.2rem
		margin-top -.4rem 
		padding-right 10%
		float right
		text-align right
		width 101px
		
		@media $tablet-minmax 
			display none
		
	input, button 
		float left
		height 3.8rem
		
	input 
		background-color rgba(0,0,0,0.03)
		padding-left 10%
		width 83.221% 
		border-top .1rem solid #c7eafb
		border-left 0
		
		@media $tablet-max
			width 79.221%
			
		&:focus 
			outline 0 
			background-color rgba(0, 0, 0, .1)
			transition 0.5s all
		
	button 
		width 16.78%
		border .1rem solid #c7eafb
		border-right 0 
		border-bottom 0
		background-color #FFF
		color $blue
		font-size 1.8rem
		transition(background-color 0.25s ease-in-out)
		font-weight bold
		
		@media $tablet-max
			width 20.78%
			font-size 1.2rem

		&:hover, &:active, &:focus
			background-color rgba(0, 0, 0, .2)
			outline 0
			
.gifts 
	.lined 
		i 
			@media $mobile-max 
				display none

.giftbox 
	padding 2rem 0 6.6rem 0
	
	.shaded-box
		height 43rem
		padding 3rem 4rem
		
.gift 
	height 35.5rem
	border .1rem solid #c7eafb
	text-align center
	padding 1rem 1rem 2rem 1rem
	
	@media $mobile-max 
		height 38.5em
	
	h2 
		margin-top 2.3rem
	
	@media $small-desktop-min
		& + .gift
			margin-left .75%	
		
	select, button
		display block
		height 3.3rem
		
	select 
		background-color #FFF 
		border .1rem solid $lightblue
		width 90%
		margin-bottom 2.2rem 
		margin 2.2rem auto
		
	button 
		border .1rem solid $lightblue
		background-color $bluevariant
		color #FFF
		font-size 1.4rem 
		font-weight bold 
		width 11.8rem 
		display block
		margin auto
		transition(all 0.25s ease-in-out)
		
		&:hover, &:active, &:focus
			background-color #FFF
			color $bluevariant
		
		


			
		

	
	
	


	