.touch-warning 
	font-size 2rem 
	color $blue 
	text-align center
	
	@media $tablet-max 
		padding 0 2rem 

	@media $small-desktop-min
		display none


aside.categories, main.category
	@media $small-desktop-min
		padding-top 4rem
		
.category 
	@media $small-desktop-min 
		float left 
		width 80%
		margin-left 3%
		
.pagination
	width 100% 
	margin-bottom 2.2rem
	border-top .1rem solid $lightblue
	border-bottom .3rem solid $lightblue 
	padding .6rem 0
	
	&:after
		clear both
		display block
		content ''
	
	small, span
		font-size 1.3rem 
		color $blue 
		line-height 1.8rem 
		cursor pointer
		
	select 
		width 10.4rem
		height 1.8rem 
		background-color #f7f8f8
		border .1rem solid #e1e1e1
		margin-left 1.3rem
		
	.index 
		width 30%
		text-align left

	.sorting 
		width 30%
		text-align right
		
	.woocommerce-pagination
		font-size 1.3rem
		color #002c4b
		line-height 1.8rem
		width 40%
		font-family: Asap;


.pagination-article {
    margin-bottom: 2.2rem;
    border-top: 0.1rem solid #00aeef;
    padding: 1rem 0;
    font-size: 16px;
    float: left;
    width: 100%;
    text-align: center;
    font-family: Asap, sans-serif;
}
