.has-icon
	&:before
		display inline-block
		vertical-align top
		margin-right .5rem
		font-size inherit 
		color inherit 
		font-family 'FontAwesome'
		
	&.user
		&:before
			content '\f007'
		
	&.lock
		&:before
			content '\f023'
			
	&.envelope
		&:before
			content '\f0e0'
			
	&.users
		&:before 
			content '\f0c0'
			
	&.id-card 
		&:before
			content '\f2c2'
			
	&.marker
		&:before
			content '\f041'
			
	&.calendar 
		&:before
			content '\f073'
			
	&.angle 
		&:before 
			content '\f105'
			
	&.pencil 
		&:before
			content '\f044'
			
	&.newspaper
		&:after
			display inline-block
			vertical-align top
			margin-left .5rem
			font-size inherit 
			color $red 
			font-family 'FontAwesome'
			content '\f1ea'
	
.empty-cart 
	color $red 
	font-size 3.2rem
	font-weight bold
	text-transform uppercase
	
	&.small
		font-size 1.8rem

.display-ib
	display inline-block

.vertical-middle
	vertical-align middle
	
.red
	color $red 
	
.blue
	color $lightblue
		
.padded
	&:after
		clear both 
		display block
		content ''
		
	@media $small-desktop-min 
		width 96rem
		margin 5.6rem auto 0 auto
		
	&.extra 
		@media $small-desktop-min
			width 75rem 

.bordered 
	border .1rem solid $grey
			
.zip-code-help 
	.questionmark
		font-size 1rem 
		color #FFF 
		padding .3rem .6rem
		background-color #444444
		border-radius 50%
		float left
		
	.text
		display inline-block
		vertical-align top
		text-align left
		color $lightblue
		font-size 1.2rem
		

.safe
	position relative
	
.safe-certificate
	position absolute
	right 0 
	top 0 
	
	@media $tablet-max
		display none

		

[class*="-stripe"]
	position relative 
	color #FFF
	margin-bottom 1rem
	display block
	text-align center
	
	&:after
		position absolute
		bottom -.6rem 
		right 0
		content ''
		width 0 
		height 0
		border-style solid 
		border-width .6rem .6rem 0 0
		
.discount-stripe
	background-color $red 
	padding .8rem .6rem
	font-size 4.5rem
	height 5rem
	letter-spacing -.2rem
	font-weight bold 
	margin 0 -1rem 1rem auto
	
	&:before 
		content '%'
		color #FFF 
		position absolute
		top .5rem 
		right 1.7rem 
		font-size 2.4rem 
		background-color transparent 
		border 0
	
	small 
		font-size 1.4rem
		font-weight normal
		margin-left -.3rem
		letter-spacing 1px

.generic-stripe 
	height 2.5rem 
	font-weight bold 
	font-size 1.4rem 
	padding .5rem 1rem
	margin-right -1rem

	&.yellow
		background-color $yellow
		
		&:after
			border-color darken($yellow, 30%) transparent transparent transparent
			
	&.orange 
		background-color $orange
		
		&:after
			border-color darken($orange, 30%) transparent transparent transparent
	
	&.orange 
		background-color $orange
		
		&:after
			border-color darken($orange, 30%) transparent transparent transparent
			
	&.blue 
		background-color $lightblue
		
		&:after 
			border-color darken($lightblue, 30%) transparent transparent transparent
			
	&.green 
		background-color #00a450
		
		&:after 
			border-color darken(#00a450, 30%) transparent transparent transparent
		

	
			
// MODULES 

.forepart
	position relative 
	z-index 2 
	
	@media $tablet-max 
		display none
		
	div 
		position relative
		border .1rem solid $blue
		height 5.3rem
		flex()
		align-items center
		justify-content space-around 
		padding 0 1rem
		background-color #FFF
		
		@media $small-desktop-min 
			width 33.333%
			float left
			
		&:after 
			clear both 
			display block
			content ''
			
		&:nth-of-type(2)
			background-color #d5e5f1
			
			span
				&:nth-of-type(2)
					width 34%
						
	span 
		color $blue 
		display block 
		
		&:first-child 
			font-weight bold
			width 27% 

			@media $tablet-min 
				font-size $r-font
			
			@media $smallest-desktop-minmax
				font-size 1.2rem 
				
			@media $desktop-min
				width 35%
			
		&:last-child 
			font-size 1.4rem
			width 31%
			
			@media $smallest-desktop-minmax
				font-size 1.2rem 
				

	i 
		background-color #fff  
		border-radius 50% 
		color $blue
		border-color $blue
		border-style solid
		border-width .4rem
		padding .8rem
		font-size 3rem
		height 5.6rem
		width 5.6rem 
		margin-top -.5rem
		
		&.fa-tag
			padding-top 1.2rem
			
		@media $desktop-min 
			width 7.6rem
			height 7.6rem
			font-size 4rem 
			padding 1rem  
			text-align center
			border-width .7rem
			
	
	.red
		color $red 
		text-decoration underline
		font-weight bold
		
.promotional
	padding-top 2.6rem 
	
	.banner 
		border .1rem solid $lightblue
		
		@media $tablet-max 
			display none
		
		@media $small-desktop-min
			margin-bottom 3.3rem

.division  
	background-color $blue
		
	@media $tablet-max 
		text-align center
		padding 2rem 0
	
	.center-content 
		@media $small-desktop-min
			height 8rem
			flex()
			flex-flow row nowrap 
			justify-content space-between 
			align-items center
		
	.texty 
		@media $desktop-min
			width 65% 
			display inline-block
	
	h1 
		color $red
		font-weight bold
		
		@media $mobile-max
			font-size 3rem
			
		@media $tablet-min 
			font-size 4rem 
		
		@media $tablet-max
			margin-bottom 2rem 
			
		@media $smallest-desktop-minmax
			font-size 3.4rem 
			
		@media $small-desktop-min
			display inline-block
			vertical-align middle
			

	h2 
		color #FFF 
		font-size $r-font 
		margin-left 3%
		display inline-block
		vertical-align middle
		
		@media $tablet-max	
			margin-bottom 2rem
			
		@media $smallest-desktop-minmax
			font-size 1.2rem
			display block
			margin 3px 0 0 0
			
			
	button 
		display block
		margin auto

.product-wrapper .freight-information{
	border: 0.1rem solid #ccd5db;
	margin-top: -1rem;
	border-top: 0 !important;
}

.freight-information 
	padding .4rem 
	border .1rem solid #c7eafb
	margin-bottom 1rem
	width 100%

	
	th, td
		font-size 1.2rem 
		color $blue 
		padding .8rem 0 .8rem .7rem 
		text-align left
		
		&:first-of-type 
			width 40% 
			vertical-align middle
			padding-left 3rem
			
		&:last-of-type
			width 60%		
		
	th 
		font-weight bold

	tr 
		
		&:nth-of-type(even)
			background-color #e5e9ed
			
		@media $desktop-min
			text-overflow ellipsis
			white-space nowrap
			overflow hidden
				
.topics 
	@media $tablet-min 
		display block
		width 100%
		margin-bottom 2px
		font-size 0
			
	li 
		background-color #ccd5db
		color $blue 
		font-size 1.8rem 
		text-align center
		height 4.8rem 
		overflow hidden
		position relative
		text-transform uppercase
		transition .3s all
		display inline-block
		vertical-align bottom
		
		&:after
			content ''
			position absolute
			top 0 
			width 100% 
			height 100%
			display block
			background-color $blue 
			transform(translateY(-100%))
			transition(all 0.2s ease-in-out)
			
		&:hover 
			color #FFF
			font-weight bold
			height 4.5rem
			margin-top 6px 
			vertical-align bottom
			
			a
				border-top 5px solid #99abb7
				background-color #002c4b
				padding 1.1rem 0
				
		&.active 
			color #FFF
			font-weight bold
			height 4.5rem
			margin-top 6px 
			vertical-align bottom
						
			a
				border-top 5px solid #99abb7
				background-color #002c4b
				padding 1.1rem 0
			
				
			&:after
				transform(translateY(0))
		
		@media $mobile-max
			border-bottom .1rem solid #FFF
			width 100%
			
		@media $tablet-min 
			width 16.5%
			
			& + li 
				margin-left 0.166%
				
	a 
		position relative
		z-index 10
		display block
		transition .3s all
		padding 1.5rem 0	
		font-size 1.8rem 
		top 0
		width 100% 
		height 100%
		
// CONTAINER STYLES 
		

.shaded-box
	border .1rem solid #c7eafb
	box-shadow .3rem .4rem 0 rgba(0, 0, 0, 0.03)
	
.half 
	@media $small-desktop-min 
		float left
		width 47.5%
		height 100px
		
		& + .half:not(:nth-child(odd)) 
			margin-left 5%
			
// .corrected-nth  // INVESTIGAR
// 	.half 
// 		@media $small-desktop-min 
// 			float left
// 			width 47.5%
// 			min-height 7rem
			
// 			& + .half:not(:nth-child(odd)) 
// 				margin-left 5%
	
.fieldbox
	padding 3rem 2rem
	
	&:after
		clear both
		display block
		content ''
	
	@media $mobile-max
		margin-bottom 4rem
		
	h2 
		font-size 2rem 
		color $red
		margin-bottom 1rem
		font-weight bold
	
		@media $tablet-minmax 
			font-size 1.8rem
			
	a 
		float left 
		display block
		margin-top 2.8rem
		
	legend 
		padding-bottom 2rem 
		border-bottom .1rem solid #c7eafb
		margin-bottom 2rem
		font-style italic 
		width 100%
		
	label 
		
		input[type="radio"]
			margin 1px 0 0 0
			
		span
			display block
			margin-bottom 5px
			
		input 
			height 3.3rem 
					
		&.three-quarters
			@media $small-desktop-min
				width 70% 
				float left
				
		&.one-quarter
			@media $small-desktop-min
				margin-left 5% 
				width 25%
				float left
					
	.generic-blue
		width 11.8rem
		margin-top 2.3rem 
		
	.zip-code-help
		a 	 
			margin-top 0
			
	&.inactive
		.edit-information
			display block
		

// DEFAULT TEXT STYLES 
		
.overflown 
	overflow hidden
	white-space nowrap 
	text-overflow ellipsis
	
.sr-only
	position absolute
	top -99999rem 
	overflow hidden
	opacity 0
	width .1rem 
	height .1rem 
	margin -.1rem
	border 0
	
.average
	font-size 1.4rem 
	color #6d6e71
	
	a
		&:hover, &:visited
			font-weight bold
			
	

.lined 
	padding-bottom 1.3rem 
	border-bottom .3rem solid $lightblue
	font-size 3.2rem 
	font-weight bold
	
	@media $tablet-minmax 
		width 52.9166%
		
	@media $tablet-max 
		margin-bottom 2rem

	@media $small-desktop-min 
		width 37.9166%	


.title-rulers 
	text-align center
	font-weight bold 
	color $blue
	font-size 4rem 
	overflow hidden
	width 100%

	@media $tablet-min
		&:before, &:after
			background-color $red
			content ''
			display inline-block
			height .1rem
			position relative
			vertical-align middle
			width 50%
			margin-top -1.2rem
			
		&:before
			right 2rem
			margin-left -50%
			
		&:after
			left 2rem 
			margin-right -50% 
	
	@media $tablet-max 
		margin-bottom 4rem 
			
	@media $small-desktop-min
		margin-bottom 3rem 
		
	@media $desktop-min
		font-size 6rem
		
	&.hidden 
		&:before, &:after
			content initial 
			
	&.single
		text-align left
		font-size 2.2rem
		
		&:before
			content initial 
			
		&:after
			margin-top -.4rem
			width 100% 
			left .5rem
			
			
.gray-placeholder::-webkit-input-placeholder {
  color: #99a3ab;
}
.gray-placeholder::-moz-placeholder {
  color: #99a3ab;
}
.gray-placeholder:-ms-input-placeholder {
  color: #99a3ab;
}
.gray-placeholder:-moz-placeholder {
  color: #99a3ab;
}


.classificar-por{
	font-family: Asap;
	-moz-box-shadow: inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow: inset 1px 1px 6px #dadbdb;
	outline: none;
	vertical-align: top;
}

.hide-this{
	display: none;
}

.response.response-news {
    width: 100%;
    border: 0;
    color: white;
    opacity: 1;
    font-family: 'Asap', sans-serif;
    padding: 5px 0 0px 4px;
    margin-bottom: 0;
    font-size: 14px;
}

.box-interna {
    font-family: 'Asap', sans-serif;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #d2d2d2;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: #d2d2d2;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: #d2d2d2;
}
input:-moz-placeholder { /* Firefox 18- */
  color: #d2d2d2;
}

#close-sugestao{
	font-size: 15px;
	position: absolute;
	right: 0px;
	top: 0;
	padding: 10px;
	cursor: pointer;	
}

.articles-box-display{
	background-color: #002c4b;
	border-top: 0px;
	padding: 30px;
	display: block;
	display:none;
}
.articles-displayed{	
	li {
	    width: 29.5%;
	    display: inline-block;
	    vertical-align: top;
	
		&:nth-child(even) {
			margin: 0 5%;
		}
		
		&:hover h3 {
			text-decoration: underline;
		}
	}
	
	a {
		display: block;
	}
	
	h3 {
		font-size: 16px;
		line-height: 21px;
		text-align: left;
		color: #FFF;
		padding-top: 10px;
	}
}

@media $tablet-max {
	[data-show]{
		display: none !important;
	}
}

.frete-info {
	position: relative;
	
	&::before {
	    content: 'Exceto para Rondônia e Roraima';
	    position: absolute;
	    width: 120%;
	    padding: 8px;
	    top: -70px;
	    left: -10px;
	    background-color: #d5e5f1;
	    border: 1px solid #002c4b;
	    font-size: 14px;
	    display: none;
	    
	    @media $smallest-desktop-minmax {
	    	font-size: 12px;
	    }
	}
	
	&::after {
	    display: none;
	    content: '';
	    position: absolute;
	    width: 0;
	    height: 0;
	    left: 0;
	    right: 0;
	    margin: auto;
	    top: -20px;
	    border-style: solid;
	    border-width: 0 9px 10px 10px;
	    border-color: transparent transparent #d5e5f1 transparent;
	}
	
	&:hover{
		cursor: help;
		
		&::before,
		&::after{
			display: block;
		}
	}
}
